extends ../layout/index
block content
  #speakerList.container
    .row
      .col-sm-8
        article.speakerslist
          .container
            .row
              each speaker in speakerslist
                .col-sm-8
                  h3.speakerslist-title=speaker.title
                  h5.speakerslist-name
                    | with &nbsp;
                    a(href=`/speakers/${speaker.shortname}`)=speaker.name
                  p.speakerslist-info
                    a(href=`/speakers/${speaker.shortname}`)
                      img.speakerslist-img.img-circle.pull-left(src=`/images/speakers/${speaker.shortname}_tn.jpg`, alt=`Photo of ${speaker.name}`)
                    | #{speaker.summary}  
      aside.col-sm-4
        article.sidebar
          include ../includes/artwork